<section id="login">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center vh100">
            <form action="/selectrole" method="" id="loginForm">
                <h3 class="section-title text-center">Select Role</h3>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block btn-lg">Admin</button>
                    <button type="submit" class="btn btn-info btn-block btn-lg">Manager</button>
                    <button type="submit" class="btn btn-info btn-block btn-lg">Customer</button>
                    <hr>
                    <button type="submit" class="btn btn-info btn-block">Log out</button>
                </div>
            </form>
        </div>
    </div>
</section>